<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Informações de Saúde Cardíaca</title>
    <link rel="icon" type="image/png" href="\static\images\logo.png">
    <link rel="stylesheet" href="\static\informacoes.css">
</head>
<body>
    <header id="header">
        <div id="header-content">
            <div id="header-text">
                <h1>Informações de Saúde Cardíaca</h1>
                <p>Entenda os fatores de risco e como reduzir as chances de doenças cardíacas</p>
            </div>
            <img src="\static\images\logo.png" alt="cardIAca logo">
        </div>
    </header>
    <main id="container">
        <section id="fatores" class="card-section">
            <div id="card-header">
                <div id="card-flex">
                    <img src="\static\images\icone_informacoes.png" alt="Fatores de risco">
                    <h2>Fatores de Risco</h2>
                </div>
                <p>Conheça os fatores de risco para doenças cardíacas</p>
            </div>

            <ul id="info-list">
                <li>Pressão alta</li>
                <li>Colesterol elevado</li>
                <li>Falta de atividade física</li>
                <li>Tabagismo</li>
                <li>Histórico familiar</li>
                <li>Diabetes</li>
                <li>Estresse excessivo</li>
            </ul>
        </section>
        <section id="prevencao" class="card-section">
            <div id="card-header">
                <div id="card-flex">
                    <img src="\static\images\icone_prevencao.png" alt="Prevenção">
                    <h2>Dicas de Prevenção</h2>
                </div>
                <p>Conheça as dicas para prevenir doenças cardíacas</p>
            </div>

            <ul id="info-list">
                <li>Praticar exercícios regularmente</li>
                <li>Manter uma alimentação equilibrada</li>
                <li>Evitar o consumo excessivo de sal e gordura</li>
                <li>Não fumar</li>
                <li>Acompanhar a saúde com um profissional</li>
                <li>Controlar o estresse</li>
            </ul>
        </section>
    </main>
    <footer id="site-footer">
        <div id="footer-content">
            <p id="footer-title">Card<span>IA</span>ca</p>
            <p id="footer-text">Sistema de apoio à decisão baseado em Inteligência Artificial.</p>
            <p id="footer-warning">⚠️ Este resultado não substitui avaliação médica profissional.</p>
            <p id="footer-copy"> © 2025 CardIAca</p>
        </div>
    </footer>
</body>
</html>
